.content {
  grid-area: contentMain;
  background-color: azure;
}
.imgContent {
  max-width: 100%;
  height: auto;
}
.avatarAndPosts {
  display: flex;
}
.avatar {
  max-width: 150px;
  max-height: 150px;
}
