.dialog__item {
  margin-bottom: 5px;
  align-items: center;
  display: flex;
}
.dialog__item img {
  border-radius: 50%;
  width: 60px;
  height: 60px;
  margin-right: 5px;
}
.dialog__item.active {
  background-color: rgb(255, 255, 255);
}
